<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.padcf.loveletter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.light">
        <activity
            android:name=".Splash"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                android:launchMode = "singleTask"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EndGame" >
    </activity>
        <activity
            android:name=".playerName">
        </activity>
            <activity
                android:name=".GuardLayout">
</activity>
        <activity android:name=".PlayedCardsReal"
            android:theme="@style/Theme.AppCompat.CustomTheme">
        </activity>
    </application>
</manifest>